# Banco de Dados
DB_USER=admin
DB_PASSWORD=senha123
DB_NAME=inventario

# Aplicação
APP_URL=https://so.targineves.cloud
JWT_SECRET=gere_uma_chave_segura_aqui_com_openssl_rand_base64_32
NODE_ENV=production
PORT=80
